@model IEnumerable<WebApp.ViewModels.BookVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-dark my-3">List of Books</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-outline-primary bi bi-plus-circle"> Create New</a>
</p>

<table class="table table-striped table-hover text-center align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <h5><span class="badge bg-primary">@item.GenreName</span></h5>
                </td>
                <td class="text-truncate" style="max-width: 150px;" title="@item.Description">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-nowrap">
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageId)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary me-1 bi bi-hand-index" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning me-1 bi bi-pencil-square" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger bi bi-trash" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
